#canvas:-moz-full-screen {
  width: 100%;
  height: 100%;
}
#canvas:-webkit-full-screen {
  width: 100%;
  height: 100%;
}
#canvas:-ms-fullscreen {
  width: 100%;
  height: 100%;
}
#canvas:fullscreen {
  width: 100%;
  height: 100%;
}

#presetSelect {
  max-width: 300px;
}

#presetCycleLength {
  width: 50px;
}